.null {

    background-color: grey;
    height: 100vh;
}

.null{

    display: none;
}


.wrapper.list_container .create_menu img {

    width: 2rem;

    margin-left: 1rem;
    margin-top: 1rem;

    cursor: pointer;
}

.wrapper.list_container .create_menu img#null {

    display: none;
}

.wrapper.list_container .create_menu .oppened_menu#null {

    opacity: 0;
    transition-duration: 400ms;

    transform: translateY(0);

    pointer-events: none;

    background-color: #E8EBE3;

    padding-block: .2rem;
    padding-inline: 3rem;
    margin-top: -4rem;
    margin-inline: auto;
    width: fit-content;

    font-size: 1.3rem;
    text-align: center;

    border-radius: 1rem;
}

.wrapper.list_container .create_menu .oppened_menu#appear {

    opacity: 1;
    transition-duration: 400ms;

    transform: translateY(-2rem);

    background-color: #E8EBE3;

    padding-inline: 3rem;
    padding-block: .4rem;
    margin-top: 4rem;
    margin-inline: auto;

    font-size: 2rem;

    border-radius: 1rem;
}

.wrapper.list_container .create_menu .oppened_menu#appear button{

    background: none;
}

.wrapper.list_container .create_menu .oppened_menu#appear span {

    font-size: 2rem;

    margin-right: -2.7rem;
    padding-right: 12rem;
    margin-bottom: -2rem;

    display: block;
}

.wrapper.list_container .create_menu .oppened_menu#appear h2 {

    margin-top: -.3rem;
    
    font-weight: 400;
    font-size: 1.3rem;
}

.wrapper.list_container .create_menu .oppened_menu#appear span#close_icon {

    color: #C11414;
    
    margin-left: 8rem;
    margin-bottom: -2rem;
    padding-right: .4rem;
    padding-left: 2rem;

    position: relative;
    display: block;
    
    cursor: pointer;
}

.wrapper.list_container h1 {

    text-align: center;

    margin-block: 4rem;

    color: #181818;
}

.wrapper.list_container span {

    color: #A3B18A;
}

.wrapper.list_container #p_dont_appear {

    display: none;
}

.wrapper.list_container #appear{

    text-align: center;

    width: fit-content;

    font-size: 1.5rem;

    margin-top: 8rem;
    padding-inline: 4rem;

    margin-inline: auto;
}

.wrapper.list_container ul.my_notes {

    display: block;
    background-color: #DAD7CD;

    border-radius: .4rem;

    width: 10rem;
    margin-inline: auto;
    margin-block: 3rem;
    padding-inline: 2rem;

}

.wrapper.list_container #list_title {

    text-align: center;

    font-weight: 700;
    font-size: 1.6rem;

    margin-bottom: 1.3rem;

    color: #808080;
}

.wrapper.list_container #list_content {

    font-size: 1.3rem;

    color: #808080;

    display: block;

    margin-left: -1rem;
}


.wrapper.list_container ul.my_notes p {

    color: rgb(73, 73, 73);

    display: block;
    
    margin-left: 3.4rem;
    width: 10rem;
}

.wrapper.list_container p#appear {

    font-size: 2rem;
}

.wrapper.list_container p#appear span {

    text-decoration-line: underline;
}

.wrapper.list_container .create_menu button {

    border: none;
}

.wrapper.list_container .notes_container {

    display: flex;

    flex-wrap: wrap;

    justify-content: space-between;
}

@media (min-width: 768px){

    #link {

        cursor: pointer;
    }

    .null,
    #null {
        opacity: 1;
        display: block;
    }

    body {

        overflow-y: auto;
    }

    .screen.list_container .create_menu .oppened_menu#null {

        opacity: 1;

        pointer-events: all;

        cursor: pointer;
        
        position: fixed;
        display: block;

        background-color: red;

        margin-top: 87vh;

        width: 30%;
        margin-left: 32vw;
        background-color: #E8EBE3;
    }

    .screen.list_container .create_menu .oppened_menu#null span#close_icon {

        display: none;
    }

    .screen.list_container .create_menu .oppened_menu#null span {

        font-size: 3rem;

        display: block;

        cursor: pointer;

        margin-right: 8rem;
        margin-bottom: -2.4rem;
        
        color: #588157;
    }

    .screen.list_container .create_menu .oppened_menu#null h2 {

        margin-top: -1.3rem;
        
        cursor: pointer;

        text-align: center;

        position: absolute;

        margin-left: 12vw;

        font-weight: 400;
    }

    .screen.list_container .create_menu .oppened_menu#null button {

        border: none;
        background: none;

        cursor: pointer;

        position: relative;

        height: 4rem;
        width: 37rem;

        margin-top: -10rem;
        margin-left: -2.5rem;

    }

    .screen.list_container .create_menu img {

        display: none;
    }

    .screen.list_container .notes_container {
        
        display: flex;

        justify-content: space-around;
    }
}