.wrapper.login_container{
    
    background-color: #D9D9D9;
    color: white;
    text-align: center;
    align-items: center;

    width: 92%;
    margin-top: 21vh;
    padding-block: 4rem;

    border-radius: 1rem;

    display: flex;

    flex-direction: column;
}

.wrapper.login_container h1 {

    color: black;

    width: 20rem;
}

.wrapper.login_container .sections {

    display: flex;
}

.wrapper.login_container .sections input{

    height: 1rem;

    border-top: none;
    border-left: none;
    border-right: none;

    background: none;

    margin-top: 1.8rem;
    margin-left: 2rem;

}

#pwd_input {

    margin-left: 2.5rem;
}