.wrapper.register_container .register_label li h1{
    
    display: contents;
    text-align: center;
    margin-right: 10rem;
}

.wrapper.register_container .register_label p {

    margin-right: 3rem;
}

.wrapper.register_container .register_label span {

    color: black;
}

.wrapper.register_container .register_label span:hover {

    cursor: pointer;
}

.wrapper.register_container form{

    display: flex;
    flex-direction: column;

    gap: 2rem;
}

.wrapper.register_container .my_labels {

    display: flex;

    gap: .2rem;

    flex-direction: column;

    text-align: center;
}

.wrapper.register_container input {

    width: 20rem;
    margin-inline: auto;

    border-radius: .2rem;
    border: none;

    height: 2rem;
    
    background-color: #D9D9D9;

    padding-left: 1rem;
}

#email,
#pwd {

    padding-left: 1rem;
}

.wrapper.register_container .login_section button {

    background-color: #3A5A40;

    border: none;
    border-radius: .5rem;

    color: white;

    width: 10rem;
    height: 3rem;
    margin-left: 17.8rem;
}

.wrapper.register_container .login_section button:hover {
    
    background-color: #344E41;

    cursor: pointer;
} 


.wrapper.register_container .login_section button {

    display: block;
    background-color: #3A5A40;

    border: none;
    border-radius: .5rem;

    color: white;

    width: 10rem;
    height: 3rem;
    
    margin-inline: auto;
}

.wrapper.register_container .login_section button:hover {
    
    background-color: #344E41;

    cursor: pointer;
} 

.wrapper.register_container .styled_home {

    margin-top: 2rem;
    padding-block: .01rem;

    background-color: #E8EBE3;
}

.wrapper.register_container .styled_home h1 {

    width: 100%;
    text-align: center;

    font-size: 1.5rem;
    font-weight: 400;
}

.wrapper.register_container .styled_home {

    margin-top: 4rem;

    height: 52vh;
}

.wrapper.register_container .styled_home ul {

    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;

    background-color: white;

    padding-block: auto;


    width: fit-content;
    padding-inline: 3rem;
    padding-block: 2rem;

    margin-inline: auto;

    border-radius: 2rem;

}

.wrapper.register_container .styled_home li{

    background-color: grey;
    display: block;

    width: 20vw;
    height: .6rem;

    content: "";
}

.wrapper.screen.register_container .styled_home .another_block {

    display: none;
}

.wrapper.register_container .styled_home li#biggest_li {

    width: 25vw;

    margin-right: 1rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.wrapper.register_container .styled_home li.low_li {

    margin-right: -5rem;
} 

.wrapper.register_container p {

    text-align: center;

    color: grey;

    margin-top: 2rem;
    margin-block-end: auto;
}

.wrapper.register_container .end_phrase {

    margin-top: 2rem;

    font-size: 1rem;

    text-align: center;
}

.wrapper.register_container .end_phrase h2 {

    font-weight: 400;
}

.wrapper.register_container .end_phrase h3 {

    color: grey;

    font-weight: 400;
}

@media (min-width: 768px){
    
    body {

        box-sizing: border-box;

        background-color: #ffff;
        width: 100%;

        overflow-y: hidden;
        overflow-x: hidden;
    }

    .wrapper {

        width: 100%;
    }

    .screen.register_container ul.logo_section,
    .screen.register_container ul.register_label,
    .screen.screen.register_container form.login_section {

        background-color: #ffff;

        width: 50%;
        margin-inline-start: auto;

        margin-right: -7rem;
    }

    .screen.register_container form.login_section button {

        margin-left: 17.8rem;
    }


    .screen.register_container ul.logo_section {

        margin-top: 10rem;
        margin-bottom: 3rem;

        width: auto;

        margin-left: 16.3rem;
    }

    .screen.register_container ul.logo_section h1{

        font-size: 2rem;
        font-weight: 500;

    }

    .screen.register_container ul.logo_section img{

        width: 4rem;
        
        display: block;
        margin-left: 1.5rem;
    }

    .screen.register_container ul.register_label {

        margin-top: 11rem;
    }

    .screen.register_container ul.register_label li h1{

        font-size: 3rem;

        margin-left: -27rem;
    }

    .screen.register_container ul.register_label li p{

        width: fit-content;

        padding-right: 10rem;

        font-size: 1.2rem;
    }

    .screen.register_container ul.register_label li span:hover {

        cursor: pointer;
    }


    .screen.register_container .my_labels {

        display: flex;
        flex-direction: row;
    }

    .screen.register_container .my_labels label {

        margin-top: .9rem;

        font-weight: 500;
        font-size: 1.2rem;
    }


    .screen.register_container .my_labels input {

        width: 20rem;

        margin-top: .9rem;
        font-size: 1.2rem;
    }



    .screen.register_container .my_labels.email input{

        margin-left: 3.7rem;
    }
    .screen.register_container .my_labels.pwd input {

        margin-left: 1.4rem;
    }

    .screen.register_container .my_labels.email input::placeholder,
    .screen.register_container .my_labels.pwd input::placeholder {

        padding-left: 1rem;
    }

    .screen.register_container .styled_home {

        position: absolute;

        height: 120vh;

        width: 50%;
        margin-inline-end: auto;
        margin-top: -33rem;
    }

    .screen.register_container .styled_home h1 {

        font-weight: 700;
    }

    .screen.screen.register_container .styled_home .another_block {

        display: block;
    }

    .screen.register_container .styled_home ul {

        margin-top: 4.2rem;

    }

    .screen.register_container .styled_home h1 {

        margin-top: 4rem;
    }

    .screen.register_container .end_phrase {

        margin-top: -1rem;

        text-align: center;
    }

    .screen.register_container .end_phrase h3 {

        color: grey;
    }
}